<header>
<div class="dropdown" style="float:right">
  <div class="btn-group">
  <button class="btn btn-default" type="button" >
    <a href="{{site.baseurl}}/"><img src="https://avatars.githubusercontent.com/u/8523520?v=2&s=50" style="border:0;"></a>
  </button>


  <button class="btn btn-default" type="button" style="height:64px;">
  <a href="http://github.com/{{site.gh.user}}/{{site.gh.repo}}/tree/{{site.gh.branch}}/{{page.path}}" target="_blank" title="Raw Page Content"><span class="mega-octicon octicon-mark-github"></span></a>
</button>

{% if page.path != 'index.html' %}
<button class="btn btn-default" type="button" style="height:64px;" data-toggle="modal" data-target="#jsonModal">
<span class="mega-octicon octicon-file-binary"></span>
</button>
{% endif %}

  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" style="height:64px;">
    <span class="octicon octicon-plus"></span></span>
  </button>



  <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
    {% for pages in site.pages %}
    {% if pages.title %}
    <li role="presentation"><a role="menuitem" tabindex="-1" href="{{site.baseurl}}{{pages.permalink}}">{{pages.title}}</a></li>
    {% endif %}
    {% endfor %}

  </ul>
</div>
</div>
</header>

{% include jsonmodal.html %}
