---
layout: post
title: Ipython Notebook
tagline: >
  Embed Ipython notebook iframes into research posts.

notebook: >
  http://nbviewer.ipython.org/github/Materials-Informatics-Lab/Materials-Informatics-Lab.github.io/blob/master/snippets/Sharing%20Plot.ly%20Figures%20and%20Data.ipynb
---

# Access IPython notebook embeds

Embed IPython Notebooks in research posts using a new ``_include``.

{% capture nb %}

{% highlight html %}
{% raw %}
{% include notebook.html url='http://notebook.url' %}
{% endraw %}
{% endhighlight %}
{% endcapture %}

{{nb}}

{% include notebook.html url=page.notebook %}
